<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HospitalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterPatient</servlet-name>
    <servlet-class>RegisterPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPatient</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocSelect</servlet-name>
    <servlet-class>DocSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocSelect</servlet-name>
    <url-pattern>/docSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DateSelect</servlet-name>
    <servlet-class>DateSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateSelect</servlet-name>
    <url-pattern>/dateSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Description</servlet-name>
    <servlet-class>Description</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Description</servlet-name>
    <url-pattern>/description</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>CancelAppointment</servlet-name>
    <servlet-class>CancelAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelAppointment</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ViewAppointment</servlet-name>
    <servlet-class>ViewAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppointment</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ConfirmBooking</servlet-name>
    <servlet-class>ConfirmBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBooking</servlet-name>
    <url-pattern>/confirmBooking</url-pattern>
  </servlet-mapping>
  
  
</web-app>